<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>

        <input-field type="single-select">
            <name>interval</name>
            <label>Interval</label>
            <options>
                <option>
                    <id>daily</id>
                    <name>Daily - Every day</name>
                </option>
                <option>
                    <id>weekly</id>
                    <name>Weekly - Every 7 days</name>
                </option>
                <option>
                    <id>bi-weekly</id>
                    <name>Bi-Weekly - Every 14 days</name>
                </option>
                <option>
                    <id>montly</id>
                    <name>Montly - Every 30 days</name>
                </option>
                <option>
                    <id>quarterly</id>
                    <name>Quarterly - Every 3 months (90 days)</name>
                </option>
                <option>
                    <id>semi-annual</id>
                    <name>Semi-Annual - Every 6 months (180 days)</name>
                </option>
                <option>
                    <id>annual</id>
                    <name>Annual - Once a year (365 days)</name>
                </option>
            </options>
            <defaultValue>montly</defaultValue>
        </input-field>

        <input-field type="int">
            <name>daysProforma</name>
            <label>Days of proforma</label>
        </input-field>

        <component name="sw-entity-single-select">
            <name>acceptedInvoiceProducts</name>
            <entity>product</entity>
            <label>Accepted subscription products</label>
        </component>
    </card>
</config>
